[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/telegram-bot
ExecStart=/home/ubuntu/telegram-bot/venv/bin/python3 /home/ubuntu/telegram-bot/main.py
Restart=always
EnvironmentFile=/home/ubuntu/telegram-bot/.env

StandardOutput=append:/var/log/telegram-bot.log
StandardError=append:/var/log/telegram-bot_error.log

[Install]
WantedBy=multi-user.target
