[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=ubuntu
Type=simple
WorkingDirectory=%h/telegram-bot
ExecStart=%h/telegram-bot/venv/bin/python3 %h/telegram-bot/main.py
Restart=always
EnvironmentFile=%h/telegram-bot/.env

StandardOutput=append:/var/log/telegram-bot.log
StandardError=append:/var/log/telegram-bot_error.log

[Install]
WantedBy=multi-user.target
